.left{
    float: left !important;
}
.right{
    float: right !important;
}
.clear { clear: both;}
.border { 
    border: 1px solid #666;
    padding: 5px;
    margin: 5px;
    display: block;
}
.bold{
    font-weight: bold;
}
.red {
    color: red;
}