<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <div>
        <h1>Add a contact</h1>
        <form action="/addcontact" method="POST">
            <input type="text" name="name" placeholder="Please add your name">
            <input type="email" name="email" placeholder="Please add your email">
            <input type="tel" name="mobile" placeholder="Please add your mobile">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>